
proyecto_labo2/.vs/proyecto_labo2/FileContentIndex/02100346-b057-4d82-aac0-d80ad29215d3.vsidx
*.vsidx
proyecto_labo2/.vs/proyecto_labo2/v17/Browse.VC.db
proyecto_labo2/.vs/proyecto_labo2/FileContentIndex/e82c2daa-2d8b-4743-a6e1-79f3e9734e4f.vsidx
proyecto_labo2/.vs/proyecto_labo2/v17/Browse.VC.db-shm
proyecto_labo2/.vs/proyecto_labo2/v17/Browse.VC.opendb
proyecto_labo2/.vs/proyecto_labo2/v17/Browse.VC.db-wal
proyecto_labo2/.vs/proyecto_labo2/v17/ipch/AutoPCH/3eaf05b900b5a822/MAIN.ipch
proyecto_labo2/.vs/proyecto_labo2/v17/Browse.VC.db
proyecto_labo2/.vs/proyecto_labo2/FileContentIndex/e82c2daa-2d8b-4743-a6e1-79f3e9734e4f.vsidx
proyecto_labo2/.vs/proyecto_labo2/v17/Browse.VC.db
proyecto_labo2/.vs/proyecto_labo2/FileContentIndex/e82c2daa-2d8b-4743-a6e1-79f3e9734e4f.vsidx
